body {
  margin: 0;
  background-image: url("../src/images/DeathStarImg.jpg");
  color: White;
  text-align: center;
}

main {
  background-color: #00000084;
  overflow-y: scroll;
  width: 80vw;
  margin: auto;
}

button {
  background-color: #2f00ff;
  border: none;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  color: white;

}

.header1 {
  font-size: 4rem;
}

.mainButton {
  margin-top: 2%;
  background-color: #51009d;
  border: none;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  color: white;
}