body {
  margin: 0;
  background-image: url("../src/images/DeathStarImg.jpg");
  color: White;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
