body {
  margin: 0;
  background-image: url("../src/images/DeathStarImg.jpg");
  color: White;
  text-align: center;
  font-family: 'Prompt', sans-serif;
}

main {
  background-color: #00000084;
  overflow-y: scroll;
  width: 80vw;
  margin: auto;
}

button {
  background-color: #2f00ff;
  border: none;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  color: white;

}

.header1 {
  font-size: 4rem;
}

.mainButton {
  margin-top: 2%;
  background-color: #51009d;
  border: none;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  color: white;
}

.mainButton:hover {
  background-color: #6f4596;
  cursor: pointer;
}

.unavailable {
  background-color: #b80300;
  border: none;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  color: white;
}

.room-card-details h2:hover{
  color: gray;
  cursor: pointer;
}

.room-card-button:hover{
  background-color: hsl(251, 100%, 70%);
  cursor: pointer;
}